.page-content {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.background {
    height: 100vh;
    width: 100%;
    z-index: -2;
    position: fixed;
}

.background img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header p {
    font-size: 100px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header button {
    height: 36px;
    width: 70px;
    margin-right: var(--pokédex-element-margin);
    border-radius: 5px;
    font-family: inherit;
    font-size: 16px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: linear-gradient(rgb(108, 137, 231), rgb(78, 89, 240), rgb(57, 68, 218));
    text-shadow: 0 1px 0 rgb(108, 137, 231);
    border: solid 3px rgb(108, 137, 231);
}

.header button:hover {
    background: linear-gradient(rgb(69, 103, 212), rgb(80, 91, 247), rgb(63, 74, 221)) !important;
    box-shadow: 0 0 10px white !important;
}

.pokédex-entries-container {
    max-width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.entries-boxes {
    position: relative;
    margin: var(--pokédex-element-margin);
    height: var(--pokédex-element-height);
    max-width: var(--pokédex-element-width);
    border: 2px solid white;
    box-shadow: var(--main-box-shadow);
    border-radius: var(--main-border-radius);
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    background-color: rgba(240, 128, 48, 1);
    min-width: 220px;
}

.pokédex-name {
    font-size: 20px;
    font-weight: 500;
    margin-top: 12px;
}

.pokédex-type-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 60px;
    min-width: 80px;
}

.pokédex-type-box button {
    margin: 4px;
    cursor: pointer;
}

.type-btn {
    height: 28px;
    width: 75px;
    border-radius: var(--main-border-radius);
    font-family: inherit;
    font-size: 16px;
    line-height: 22px;
    color: black;
}

.pokédex-image-box {
    position: absolute;
    right: -20px;
    top: -20px;
    border-radius: 50%;
}

.pokédex-image-box img {
    height: calc(var(--pokédex-element-height) + 30px);
    width: calc(var(--pokédex-element-width) / 1.5);
    transition: 50ms ease-in-out;
}

.pokédex-image-box img:hover {
    height: calc(var(--pokédex-element-height) + 35px);
    width: calc(var(--pokédex-element-width) / 1.4);
    transition: 50ms ease-in;
}



